.cardFront {
    width: 447px;
    height: 245px;
    background: url("../../images/bg-card-front.png") no-repeat;
}

.cardContent {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardInfo .cardNumber {
    color: white;
    letter-spacing: 5px;
    font-size: 26px;
    font-weight: 500;
    margin: 0;
}

.nameDate {
    color: white;
    letter-spacing: 2px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}

.nameDate p {
    margin: 0;
    margin-top: 20px;
}