.cardBack {
    width: 447px;
    height: 245px;
    background: url("../../images/bg-card-back.png") no-repeat;
    position: relative;
    right: -100px;
    margin-top: 30px;
}

.cardBack .cardContent {
    height: 100%;
    width: 100%;
}


.cardBack  p.cvv {
    position: relative;
    left: 80%;
    top: 45%;
    width: 50px;
    color: white;
    letter-spacing: 2px;
}

@media screen and (max-width: 1150px ) {
    .cardBack {
        right: -50px;
    }
  }

@media screen and (max-width: 1000px ) {
    .cardBack {
        /* transform: scale(.8); */
    }
  }

@media screen and (max-width: 560px ) {
    .cardBack {
        /* position: absolute; */
        top: -275px;
        z-index: -1;
        right: -40px;
    }
  }
  @media screen and (max-width: 370px ) {
    .cardBack {
        /* position: absolute; */
        top: -275px;
        z-index: -1;
        right: -20px;
    }
  }